{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Annotation</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <header>
      <h1>API Annotation</h1>
      <nav>
        <a href="new/">Nouveau Test</a>
        <a href="history.html">Historique</a>
        <a href="swagger.html">API Directe</a>
        <a href="/logout">Déconnexion</a>
      </nav>
    </header>
    <main>
      <h2>Envoyer un fichier médical</h2>
      <form action="/analyze" method="POST" enctype="multipart/form-data">
        <label for="file">Choisir un fichier (IRM, Scanner, ECG…) :</label>
        <input
          type="file"
          id="file"
          name="file"
          accept="image/*,.dcm"
          required
        />
        <button type="submit">Analyser</button>
      </form>
    </main>
  </body>
</html>
